/* .App {
  text-align: center;
} */
.btn-custom-styling {
 
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

label {
  font-weight: 500;
  color: rgb(110, 107, 107);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
